* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('../Images/Fondo\ 1.jpg');
    background-size: cover;
}
.logo img {
    width: 120px;
    margin-top: 5px;
}
.navbar {
    height: 40px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav__btn {
    height: 30px;
    width: 140px;
    margin: 0 5px;
    background: none;
    border: 2px solid black;
    border-radius: 25px;

    font-size: 16px;
    font-weight: bold;
}
.nav__btn a:link, .nav__btn a:visited {
    text-decoration: none;
    color: white;
}

.feedback__btn {
    height: 30px;
    width: 100px;
    background: none;
    border: 2px solid black;
    border-radius: 25px;

    position: fixed;
    bottom: 50px;
    left: 20px;

    font-size: 16px;
    font-weight: bold;
    color: white;
}
.feedback__btn:hover {
    cursor: pointer;
}
.container__cards {
    width: 80%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 20px;

    align-items: center;
    justify-content: center;
}

.filters__container {
    height: 40px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.filter, .order, .refresh {
    margin: 0 10px;
}

.order select, .filter select, .refresh {
    height: 25px;
    width: 140px;
    background: none;
    border: 2px solid black;
    border-radius: 25px;

    color: black;
    font-weight: bold;
    font-size: 14px;

    cursor: pointer;    
}

.loading {
    position: absolute;
    
    top: 25vh;
    left: 40vw;
}
